@using FoodCards.Client.Pages
@using FoodCards.Client.Script
@using FoodCards.Client.Services
@using FoodCards.Shared
@inherits LayoutComponentBase
@inject LocalStorage storage
@inject AuthorizeMonitorService authorizationService

<Authorize>
    <Authorized>
        <header>
            <button class="menu-button" @onclick=LogOut>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
        </header>
        <main>
            @Body
        </main>
    </Authorized>
    <UnAuthorized>
        <LogInLayout/>
    </UnAuthorized>
</Authorize>

@code {
    async Task LogOut()
    {
        await storage.RemoveAsync(ConstValues.UserToken);
        await InvokeAsync(() => authorizationService.RecheckAuthorization());
    }
}
