@page "/Cards"
@using FoodCards.Client.Layouts
@using FoodCards.Client.Script
@using FoodCards.Shared

@if (ingredients != null)
{
	<div style="text-align: center;">
		@foreach (var ingredient in ingredients)
		{
			<FoodCard FoodItem=@ingredient />
		}
	</div>
}

@code {
	List<Ingredient> ingredients;

	protected override void OnInitialized()
	{
		ingredients = new IngredientTable().Ingredients;
	}
}
