<table style="height:fit-content;z-index:10;border:none;margin-top: auto;">
    <tbody>
        @foreach (var chartBar in ChartBars)
        {
            <tr>
                <td style="float:left;padding-right:0.5rem">
                    @chartBar.Name
                </td>
                <td style="vertical-align:top">
                    <div style="width:10rem;height:1rem">
                        <div class="v_bar" style=@($"--bar-value:{chartBar.CalculatePer}%;--bar-color-value:{chartBar.ColorPer}")>
                            @chartBar.Text
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<ChartBar> ChartBars { get; set; } = new();
}

<style>
    .v_bar {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, hsl(var(--bar-color-value),50%,57%) var(--bar-value), white var(--bar-value),transparent);
        border-radius: 2px;
        box-shadow: 8px 4px 8px hsl(0,0%,70%);
        position: relative;
        z-index: 100;
    }
</style>