<div class="slidecontainer">
    <label>
        @Title
        <input type="range" min="1" max="100" value="@Value" class="slider"
        @oninput="(EventArgs) => SetValue(EventArgs.Value.ToString())" />
    </label>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public int Value { get; set; } = 20; 

    [Parameter]
    public Action<int> Action { get; set; }

    void SetValue(string value)
    {
        if (Action == null)
            return;

        _ = int.TryParse(value, out int intValue);
        Action(intValue);
    }
}
